@use "../../App.scss";

.info-box {
	position: relative;

	display: inline-block;

	margin: auto;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3em;
	padding: 15px;

	height: auto;

	border: 2px solid App.$highlight_color;
	border-radius: 35px;

	background-color: App.$secondary_color;

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0px;
	}
}
