@use "../../App.scss";

.info-box {
	margin: auto;
	margin-top: 30px;
	padding: 15px;

	width: 90%;
	height: auto;
	
	border: 8px solid App.$highlight_color;
	border-radius: 35px;

	background-color: App.$secondary_color;

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0px;
	}
}
