$primary_color: #415A77;
$secondary_color: #0D1B2A;
$highlight_color: #E0E1DD;
$light_color: #778DA9;
$dark_color: #1B263B;

.layout-block {
  width: calc(100% - 75px);
  min-height: 100vh;

  padding-left: 75px;

  h1 {
    margin-top: 0px;
  
    font-size: 55px;
    font-weight: 400;
  }
}

.greeter-title {
  position: absolute;
  top: 40%;
  left: 13%;
}

.about-title {
  text-align: center;
  position: relative;
  top: 2em;
}

.work-title {
  position: relative;
  top: 1em;
  left: 1em;
}

.skills-title {
  position: relative;
  top: 1em;
  right: 0;
}

.contact-title {
  text-align: center;
  position: relative;
  top: 2em;
}
